<div class="modal" id="newUserModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Añadir anuncio</h5>
        <button type="button" class="close btn-lg" data-dismiss="modal" aria-label="Close" (click)="clear()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="form-group col-md-6">
          <div class="container-fluid">
            <angular-file-uploader #fileUpload2 [config]="afuConfig" (ApiResponse)="imageUpload($event)">
            </angular-file-uploader>
            <img src="http://gamma-link.software:9000/images/getImage/{{aNew.imagen}}/3" *ngIf="aNew.imagen" alt="" class="rounded mx-auto d-block mt-4" style="height: 18rem;">
          </div>
        </div>

        <form [formGroup]="checkFormCreate" (ngSubmit)="onSubmit(checkFormCreate.value)" class="form-group col-md-6">
            <div class="form-group col-md-12">
              <label for="Nombre">Nombre</label>
              <input type="text" class="form-control" formControlName="nombreNew" id="nombreNew"
                aria-describedby="Nombredescripcion">
              <small id="Nombredescripcion" class="form-text text-muted">Es requerido un nombre para el anuncio</small>
              <small *ngIf="checkFormCreate.get('nombreNew').touched && checkFormCreate.get('nombreNew').invalid"
                class="ml-2 text-danger"> Nombre obligatorio</small>
              <br>
              <br>
              <label for="descripcion">Descripcion</label>
              <textarea type="text" class="form-control" formControlName="descripcionNew" id="descripcionNew"
                ria-describedby="anunciodescripcion"></textarea>
              <small id="anunciodescripcion" class="form-text text-muted">Descripcion del anuncio</small>
              <small
                *ngIf="checkFormCreate.get('descripcionNew').touched && checkFormCreate.get('descripcionNew').invalid"
                class="ml-1 text-danger">La descripcion del anuncio es requerida</small>
              <br>
              <br>
              <label for="fechaPublicacion">Fecha de publicacion</label>
              <input type="date" class="form-control" formControlName="fechaPublicacionNew" id="fechaPublicacionNew">
              <small
                *ngIf="checkFormCreate.get('fechaPublicacionNew').touched && checkFormCreate.get('fechaPublicacionNew').invalid"
                class="ml-2 text-danger">Fecha de publicacion es requerida</small>
              <br>
              <br>
              <label for="fechaDeBaja">Fecha</label>
              <input type="date" class="form-control" formControlName="fechaDeBajaNew" id="fechaDeBajaNew">
              <small *ngIf="checkFormCreate.get('fechaDeBajaNew').touched && checkFormCreate.get('fechaDeBajaNew').invalid"
                class="ml-2 text-danger">Fecha de baja requerida</small>
              <br>
              <br>

            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="clear()" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success" [disabled]="!checkFormCreate.valid">Registrar anuncio</button>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>