
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categoria
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ropa</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Juguetes</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Muebles</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Musica</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Videojuegos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Precio
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Mas bajo</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Mas alto</a>        
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Marca
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">3</a>
        </div>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="isCliente=true">Search</button>
    </form>
  </div>
</nav>

<!-- lista de productos proveedor -->

<div class="row container mt-4 mb-4">
    <div *ngFor="let producto of productos" class="card" style="width: 18rem;">
        <div class="card-body">     
         <img src= {{producto.imagen}} class="card-img-top" alt="...">
          <h5 class="card-title">{{producto.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{producto.id}}</h6><hr>
          <p class="card-text">{{producto.marca}}</p>
          <p class="card-text">{{producto.categoria}}</p>
          <p class="card-text">{{producto.descripcion}}</p>
          <p class="card-number">{{producto.precio | money}}</p>                 
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-success" type="submit">Ver</button>
            <button class="btn ml-2 btn-danger">Editar</button>
        </div>
      </div>
</div>

<!-- lista de productos cliente -->

<div class="row container mt-4 mb-4" >
  <div *ngFor="let producto of productos" class="card" style="width: 18rem;" >
      <ng-container *ngIf="producto.habilitado">
        <div class="card-body">
          <img src= {{producto.imagen}} class="card-img-top" alt="...">
          <h5 class="card-title">{{producto.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{producto.id}}</h6><hr>
          <p class="card-text">{{producto.marca}}</p>
          <p class="card-text">{{producto.categoria}}</p>
          <p class="card-text">{{producto.descripcion}}</p>
          <p class="card-number">{{producto.precio | money}}</p>                 
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-success" type="submit">Ver</button>
            <button (click)="pasar(producto)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Agregar</button>
        </div>
      </ng-container>
  </div>
</div>
<app-cotizacion-container *ngIf="p" [product]="p"></app-cotizacion-container>
<router-outlet></router-outlet>