
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categoria
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Ropa</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Juguetes</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Muebles</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Musica</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Videojuegos</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Precio
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Mas bajo</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Mas alto</a>        
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Marca
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">3</a>
        </div>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="isCliente=true">Search</button>
    </form>
  </div>
</nav>

<!-- lista de productos proveedor -->
<div class="row">
  <div class="col-1"></div>
  <div class="row container mt-3 mb-5 justify-content-center">
      <div *ngIf="productos.length == 0">
          <p class="text-muted h3">
              NO SE ENCUENTRAN PRODUCTOS
          </p>
      </div>
      <div *ngFor="let producto of productos" class="card ml-4 mt-4" style="width: 21rem;">
          
          <img src="https://www.crecenegocios.com/wp-content/uploads/2011/04/tipos-de-ventas.jpg" class="card-img-top"
              alt="Imagen">
          <div class="card-body">
              <h5 class="card-title">{{ producto.nombre }}</h5>
              <hr>
              <h6 class="card-subtitle mb-2 text-muted">{{ producto.descripcion }}</h6>
              <h6> {{ producto.precio | money }} </h6>
              <h6> {{ producto.marca_id }} </h6>
              <h6> {{ producto.categoria_id }} </h6>
          </div>
          <div class="card-footer text-right">
            <button type="button" class="btn btn-primary mr-2" (click)="edithProducto(producto)"><i class="fas fa-pencil-alt"></i> Editar</button>
            <button type="button" class="btn btn-info" 
            data-toggle="tooltip" data-placement="top" title="Agregar a lista de cotizacion" (click)="pasar(producto)" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fas fa-file-invoice-dollar"></i></button>
          </div>
      </div>
  </div>
</div>

<app-cotizacion-container *ngIf="p" [product]="p"></app-cotizacion-container>
<router-outlet></router-outlet>