<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar anuncio</h5>
        <button type="button" class="close btn-lg" data-dismiss="modal" aria-label="Close" (click)="clear()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="form-group col-md-6">
          <div class="container-fluid">
            <angular-file-uploader #fileUpload1 [config]="afuConfig" (ApiResponse)="imageUpload($event)">
            </angular-file-uploader>
            <img src="http://gamma-link.software:9000/images/getImage/{{anuncioEdit.imagen}}/3" *ngIf="anuncioEdit.imagen" alt="" class="rounded mx-auto d-block mt-4" style="height: 18rem;">
          </div>
        </div>
        <form [formGroup]="checkForm" (ngSubmit)="onSubmit(checkForm.value)" class="form-group col-md-6">
          <div class="form-group col-md-12">
            <label for="Nombre">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre" id="Nombre"
              aria-describedby="Nombredescripcion">
            <small id="Nombredescripcion" class="form-text text-muted">Es requerido un nombre para el anuncio</small>
            <small *ngIf="checkForm.get('nombre').touched && checkForm.get('nombre').invalid" class="ml-2 text-danger">
              Nombre obligatorio</small>
            <br>
            <br>
            <label for="descripcion">Descripcion</label>
            <textarea type="text" class="form-control" formControlName="descripcion" id="descripcion"
              ria-describedby="anunciodescripcion"></textarea>
            <small id="anunciodescripcion" class="form-text text-muted">Descripcion del anuncio</small>
            <small *ngIf="checkForm.get('descripcion').touched && checkForm.get('descripcion').invalid"
              class="ml-1 text-danger">La descripcion del anuncio es requerida</small>
            <br>
            <br>
            <label for="fechaPublicacion">Fecha de publicacion</label>
            <input type="date" class="form-control" formControlName="fechaPublicacion" id="fechaPublicacion">
            <small *ngIf="checkForm.get('fechaPublicacion').touched && checkForm.get('fechaPublicacion').invalid"
              class="ml-2 text-danger">Fecha de publicacion es requerida</small>
            <br>
            <br>
            <label for="fechaDeBaja">Fecha de baja</label>
            <input type="date" class="form-control" formControlName="fechaDeBaja" id="fechaDeBaja">
            <small *ngIf="checkForm.get('fechaDeBaja').touched && checkForm.get('fechaDeBaja').invalid"
              class="ml-2 text-danger">Fecha de baja requerida</small>
            <br>
            <br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="clear()" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success" [disabled]="!checkForm.valid">Actualizar anuncio</button>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>