<ul class="navbar-nav ml-auto ml-md-0" *ngIf="auth.isAuthenticated$ | async">
    <li class="nav-item dropdown">
        <img [src]="usuario.tipo" alt="" style="height: 35px;">
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">{{usuario.email}}</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item btn" (click)="logout()">Logout</a>
        </div>
    </li>
</ul>