.modal-footer button{
    box-shadow: 2px 2px 2px black;
}

#info{
    background-color: rgb(247, 244, 244);
    color: black;
    border-radius: 0px 0px 10px 10px;

}

#product{
    border-radius: 10px;
    border: solid 1px rgb(105, 104, 104);
    background-color: rgba(125, 126, 125, 0.637);
}

img{
    border-radius: 10px 10px 0px 0px;
}

input{
    border: solid 1px rgb(105, 104, 104); 
}