<ng-template #contenido let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Eliminar anuncio</h5>
        <button type="button" class="btn-close"  aria-label="Close" (click)="modal.dismiss()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
          <div class="col-4">
              <label>Desea Eliminar este anuncio?</label>
          </div>  
      </div>     
      <div class="modal-footer">
        <button type="button" class="btn ml-2 btn-danger" (click)= "eliminarAnuncio(contenido)">Eliminar</button>
        <button type="submit" class="btn btn-primary"  >Cancelar</button>      
      </div>
  </ng-template>

  <button type="button" class="btn ml-2 btn-danger" (click)= "modal.open(contenido)">Eliminar</button>