

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eliminar Anuncio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <!-- <p>¿Estas seguro en ELIMINAR el anuncio{{ anuncio.name }}?. </p> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar <i class="fas fa-window-close"></i></button>
          <div class="form-group">
            <!--
            <button type="submit" class="btn btn-danger" (click)="deshabilitarCategoria()">Deshabilitar <i class="fas fa-ban"></i></button>
         -->
         </div>
        </div>
      </div>
    </div>
  </div>
  


<!--
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Eliminar anuncio</h5>
        <button type="button" class="btn-close"  aria-label="Close" (click)="modal.dismiss()"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
          <div class="col-4">
              <label>Desea Eliminar este anuncio?</label>
          </div>  
      </div>     
      <div class="modal-footer">
        <button type="button" class="btn ml-2 btn-danger" (click)= "eliminarAnuncio(contenido)">Eliminar</button>
        <button type="submit" class="btn btn-primary"  >Cancelar</button>      
      </div>
  </ng-template>

  <button type="button" class="btn ml-2 btn-danger">Eliminar</button>
  -->