  <div  class="list-group scroll-y scrollbar">

    <div class="list-group-item" *ngFor="let puntuacion of puntuaciones">
      <div class="d-flex w-100 justify-content-between">
        <h6 class="mb-1">{{puntuacion.cliente.usuario.nombre}} {{puntuacion.cliente.usuario.apellido}}</h6>
        <small>{{puntuacion.created_at | date}}</small>
      </div>
      <div>
        <p class="mb-1">{{puntuacion.comentario}}</p>
        <ngb-rating [max]="5" [(rate)]="puntuacion.puntuacion" [readonly]="true"></ngb-rating>
      </div>
    </div>
  </div>
