<!--Buscador-->

<form class="form-inline container d-flex justify-content-center md-form form-sm mt-4">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Buscar" git aria-label="Search">
</form>
<div class="container mt-4 row text-right">
    <div class="col-1"></div>
    <div class="col">
        <button class="btn btn-success " data-toggle="modal" data-target="#crearCategoriaModal"><i
                class="far fa-plus-square"> </i> Crear Categoria</button>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="row container mt-3 mb-5 justify-content-center">
        <div *ngFor="let categorias of categorias" class="card ml-4 mt-4" style="width: 21rem;">
            <img src="http://gamma-link.software:9000/images/getImage/{{categorias.imagen}}/4" *ngIf="categorias.imagen" class="card-img-top"
                alt="Imagen">
            <div class="card-body">
                <h5 class="card-title">{{categorias.nombre}}</h5>
                <hr>
                <h6 class="card-subtitle mb-2 text-muted">{{categorias.descripcion}}</h6>
            </div>
            <div class="card-footer text-right" *ngIf="proveedor">
                <editar-categoria></editar-categoria>
                <button (click)="editarCategoria(categorias)" class="btn btn-primary" data-toggle="modal"
                    data-target="#editarCategoriaModal"><i class="far fa-edit"></i>Editar</button>
                <app-deshabilitar-categoria></app-deshabilitar-categoria>
            </div>
        </div>
    </div>
</div>



<app-editar-categoria [categoriaEditar]="categoria" (eventEmitEdit)="getCategorias($event)"></app-editar-categoria>
<app-crear-categoria (eventEmitCrear)="getCategorias($event)"></app-crear-categoria>
<router-outlet></router-outlet>