<div *ngIf="isEmpty(); else showTable" class="alert alert-info" role="alert">
  Aún no se ha agregado ningún producto
</div>

<ng-template #showTable>
  <table *ngIf="productoC.length >= 3" class="table scroll-y scrollbar">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pc of productoC">
        <th scope="row"><img src={{pc.producto.imagen}} alt="imagen" width="100"></th>
        <td> {{ pc.producto.name }} </td>
        <td> {{ pc.cantidad }} </td>
        <td> {{ pc.precioTotal | money }} </td>
    </tr>
    </tbody>
  </table>
  <table *ngIf="productoC.length < 3" class="table">
    <thead class="thead-dark">
         <tr>
           <th scope="col">Imagen</th>
           <th scope="col">Nombre</th>
           <th scope="col">Cantidad</th>
           <th scope="col">Precio Total</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let pc of productoC">
           <th scope="row"><img  src="http://gamma-link.software:9000/images/getImage/{{pc.imagen}}/1" alt="imagen" width="100"></th>
           <td> {{ pc.producto.name }} </td>
           <td> {{ pc.cantidad }} </td>
           <td> {{ pc.precioTotal | money }} </td>
       </tr>
       </tbody>
     </table>
</ng-template>